.main-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

.tagline-text {
    font-size: 10vh;
    font-family: 'MyCustomFont', sans-serif;
    color: white;
    margin-bottom: 2rem;
}

.get-started-button {
    background-color: transparent;
    border-color: white;
    color: white;
    border-radius: 2vh;
    padding: 15px;
    font-size: 5vh;
    border-width: 5px;
    box-shadow: none;
    cursor: pointer;
    transition: 0.5s ease;
}

.get-started-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease;
}

/* Styling for the burger menu */
.burger-menu {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.burger-button {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 64px;
    cursor: pointer;
}

.menu-options {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: rgba(144, 144, 144, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
}

.menu-options button {
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.699);
    padding: 10px;
    text-align: left;
    cursor: pointer;
    font-size: 24px;
    transition: background 0.3s;
}

.menu-options button:hover {
    background-color: #ffffff33;
}
