.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    height: 60px;
}

.navbar-links {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 40px; 
    justify-content: center;
    align-items: center; 
}

.navbar-button {
    background: none;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
    font-family: 'MyCustomFont', sans-serif;
    transition: color 0.3s;
}

.navbar-button:hover {
    color: lightgray;
}

